Repository mehdicopter/dotfiles, changes with the labels that .github/labeler.yml gives for each.
All labels: homebrew, settings

.github/labeler.yml:

homebrew:
  - changed-files:
      - any-glob-to-any-file:
          - run_*.sh

settings:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**/*

feat: remove scw git config
  dot_gitconfig-scaleway
Labels: none

feat: add gitlab git config
  dot_gitconfig-gitlab
Labels: none

feat: add p10k config
  dot_p10k.zsh
Labels: none

feat!: use chezmoi template and run_onchange
  .chezmoidata.toml
  .chezmoidata/packages.yaml
  .vscode/settings.json
  README.md
  dot_gitconfig
  dot_zshrc
  install.sh
  run_before_00-install-pre-requisites.sh
  run_once_before_00_homebrew.sh
  run_once_before_10_vscode.sh
  run_onchange_darwin-install-packages.sh.tmpl
Labels: homebrew

fix: cask bruno
  .chezmoidata/packages.yaml
Labels: none

ci: remove shellcheck
  .github/workflows/shellcheck.yml
Labels: settings

fix: export homebrew path
  README.md
  run_before_00-install-pre-requisites.sh
Labels: homebrew

fix: helm-docs
  .chezmoidata/packages.yaml
Labels: none

fix: set absolute path
  run_before_00-install-pre-requisites.sh
  run_onchange_darwin-install-packages.sh.tmpl
Labels: homebrew

feat: add iterm2
  .chezmoidata/packages.yaml
Labels: none

feat: add rectangle
  .chezmoidata/packages.yaml
Labels: none

feat: add alfred
  .chezmoidata/packages.yaml
Labels: none

feat: remove google-chat
  .chezmoidata/packages.yaml
Labels: none

chore: add several packages
  .chezmoidata/packages.yaml
Labels: none

feat(vscode): disable crd
  .vscode/settings.json
Labels: none

fix: gitlab ref
  dot_gitconfig
Labels: none

feat: add digrc
  dot_digrc
Labels: none

feat: add vimrc
  dot_vimrc
Labels: none

feat: add alfred workflows
  .chezmoiexternal.toml
  README.md
Labels: none

chore(brew): remove dnsmasq and dnscrypt
  .chezmoidata/packages.yaml
Labels: none

chore: update vscode settings
  .vscode/settings.json
Labels: none

chore(brew): remove bruno and add insomnia
  .chezmoidata/packages.yaml
Labels: none

chore: update gpg public key
  private_dot_gnupg/pubkey.asc
Labels: none

chore: update PATH
  dot_zshrc
Labels: none

feat: make company and personal packages configurable via chezmoi prompts
  .chezmoi.toml.tmpl
  .chezmoidata.toml
  .chezmoidata/packages.yaml
  .chezmoiexternal.toml
  run_onchange_darwin-install-packages.sh.tmpl
Labels: none

chore: remove deployed alfred workflows from target machines
  .chezmoiremove
Labels: none

chore(zsh): drop virtualenvwrapper and guard gcloud/terragrunt sourcing
  dot_zshrc
Labels: none

chore(git): update gitlab work identity for servier
  dot_gitconfig-gitlab
Labels: none

docs: update readme for prompt-based setup
  README.md
Labels: none

feat(git): derive gitlab work email from the company prompt
  dot_gitconfig-gitlab.tmpl
Labels: none

chore(brew): restore relevanc packages section
  .chezmoidata/packages.yaml
  dot_gitconfig-gitlab.tmpl
Labels: none

chore: sync local drift into source
  dot_gitconfig
  dot_zshrc
  private_dot_gnupg/pubkey.asc
Labels: none

chore(zsh): remove lm studio path
  dot_zshrc
Labels: none

chore(gpg): update public key with extended subkey expiration
  private_dot_gnupg/pubkey.asc
Labels: none

chore(zsh): remove netskope nsdiag alias
  dot_zshrc
Labels: none

style(zsh): format gch and strip current-branch marker
  dot_zshrc
Labels: none

feat(git): quality-of-life config and tooling
  .chezmoidata/packages.yaml
  README.md
  dot_gitconfig
Labels: none

feat: prepare dotfiles for next job (servier)
  .chezmoi.toml.tmpl
  .chezmoidata.toml
  .chezmoidata/packages.yaml
  .chezmoiexternal.toml
  .chezmoiremove
  README.md
  dot_gitconfig
  dot_gitconfig-gitlab
  dot_gitconfig-gitlab.tmpl
  dot_zshrc
  private_dot_gnupg/pubkey.asc
  run_onchange_darwin-install-packages.sh.tmpl
Labels: none

fix(brew): rename flux to flux-app and drop removed tflint formula
  .chezmoidata/packages.yaml
Labels: none

chore(brew): remove unused 1password-cli and testssl
  .chezmoidata/packages.yaml
Labels: none
